.red-fragrance {border: solid #B91825; background-color: #B91825}

.yellow-fragrance {border: solid #FFE72E; background-color: #FFE72E}

.green-fragrance {border: solid #27AA64; background-color: #27AA64}

.blue-fragrance {border: solid #38BCF5; background-color: #38BCF5}

.purple-fragrance {border: solid #492F75; background-color: #492F75}

.brown-fragrance {border: solid #5A4030; background-color: #5A4030}

.pink-fragrance {border: solid #FF8ACC; background-color: #FF8ACC}

.orange-fragrance {border: solid #EB7814; background-color: #EB7814}

.grey-fragrance {border: solid #ADADAD; background-color: #ADADAD}

.atelier-fragrance {border: solid #7F4124; background-color: #7F4124}

.archive-fragrance {border: solid #0A0614; background-color: #0A0614}