@import url("global.css");
body {
	background: White;
}
.perfume-layout {
	width: 95vw;
	display: grid;
	grid-template-columns: 35% 45%;
	column-gap: 2%;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.perfume-layout > div > p {
	font-size: 0.5rem;
}

.menu {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#atelier.menu {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1, h3 {
	margin: 0;
}

h2 {
	margin: 0 0 20px 0
}

.pqr-layout {
	width: 95vw;
	display: grid;
	grid-template-rows: 80% 20%;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.perfume-img, iframe {
	max-width: 100%;
	max-height: 85vh;
	margin: auto;
	aspect-ratio: 3 / 4;
	float: right;
}

#pqr-toggle-div {
	display: flex;
}

body:has(#pqr-toggle:checked) > #main {
	display: none;
}

body:has(#pqr-toggle:checked) > #pqr {
	display: grid;
}

#pqr {
	display: none
}

footer {
	display: grid;
	grid-template-columns: 45% 45%;
	width: 95%;
	column-gap: 5%;
	font-size: 2vw;
}

@media screen and (max-width: 890px) {
	.perfume-layout {
		grid-template-rows: 1fr auto;
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 750px) {
	.pqr-toggle-div {
		padding-bottom: 2%;
		font-size: 1rem;
	}
	
	.menu-checkbox, #pqr-toggle-div {
		display: block;
	}
}

table {
  border-collapse: collapse;
	font-size: 0.5rem;
}
table td {
  border: 1px solid black; 
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}
