@import url("global.css");
body {
	background: Snow;
}

.subtext-link {
	margin: auto;
}

.perfume-grid {
	padding: 0% 10%;
	width: 75vw;
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	column-gap: 3%;
	margin: auto;
	justify-content: center;
	align-items: center;
	padding-bottom: 5%;
}

.perfume-img {
	width: 100%;
	border-width: 0 0 thick;
	margin: 3% auto;
}

.top-content {
	display: block;
	width: 80vw;
	text-align: left;
}

.perfume-filter {
	text-align: center;
    font-size: 0.7rem;
    float: right;
    width: calc-size(auto, size + 1%);
}

#style.perfume-filter {
	margin-right: 2%;
}

.archive, .atelier, .red, .pink, .yellow, .orange, .blue, .grey, .green, .brown, .purple {
	display: none;
}

body:has(#all:checked) :is(.archive, .atelier, .red, .pink, .yellow, .orange, .blue, .grey, .green, .brown, .purple) {
	display: block;
}

body:has(#archive:checked) :is(.archive) {
	display: block;
}

body:has(#atelier:checked) :is(.atelier) {
	display: block;
}

body:has(#red:checked) :is(.red) {
	display: block;
}

body:has(#pink:checked) :is(.pink) {
	display: block;
}

body:has(#yellow:checked) :is(.yellow) {
	display: block;
}

body:has(#orange:checked) :is(.orange) {
	display: block;
}

body:has(#blue:checked) :is(.blue) {
	display: block;
}

body:has(#grey:checked) :is(.grey) {
	display: block;
}

body:has(#green:checked) :is(.green) {
	display: block;
}

body:has(#brown:checked) :is(.brown) {
	display: block;
}

body:has(#purple:checked) :is(.purple) {
	display: block;
}

.perfume-desc {
	text-align: center;
	position: relative;
    width: 100%;
	height: 0%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: Black;
	font-size: 0.7rem;
	height: 4vh;
}

@media only screen and (max-width: 750px) {
	.menu-checkbox {
		display: block;
	}
}

@media screen and (max-width: 1010px) {
	.perfume-grid {
		width: 85vw;
		grid-template-columns: 32% 32% 32%;
	}
	
	h1 {
		font-size: 2.3rem;
	}
}

@media screen and (max-width: 440px) {
	.perfume-grid {
		width: 90vw;
		grid-template-columns: 48% 48%;
	}
	
	h1 {
		font-size: 2rem;
	}
	
	.perfume-desc {
		font-size: 0.5rem;
	}
}

footer {
	display: grid;
	grid-template-columns: 45% 45%;
	width: 95%;
	column-gap: 5%;
	font-size: 2vw;
}